//
// Global Config
// --------------------------------------------------

//  Typography
// --------------------------------------------------
$default-text-font: 'Open Sans', sans-serif;
$default-text-size: 16px;
$default-line-height: 20px;
$default-text-color: #414141;

$header-text-font: 'Open Sans', sans-serif;
$header-text-size: 24px;
$header-text-color: #414141;
$header-text-weight: normal;
$header-line-height: 38px;

//  Logo
// --------------------------------------------------
$logo-url-png: "assets/logo.png";
$logo-url-svg: "assets/logo.svg";
$logo-width  : 234px;
$logo-height : 50px;


//  Breakpoints
// --------------------------------------------------
$breakpoint-smartphone: 320px;
$breakpoint-tablet: 490px;
$breakpoint-desktop: 720px;
$breakpoint-large: 980px;


