//
// Global Config
// --------------------------------------------------

//  Typography
// --------------------------------------------------
$default-text-font: 'Open Sans', sans-serif;
$default-text-size: 18px;

//  Logo
// --------------------------------------------------
$logo-url-png: "assets/logo.png";
$logo-url-svg: "assets/logo.svg";
$logo-width  : 234px;
$logo-height : 50px;