//
// Theme
// --------------------------------------------------
@import '_config';

html {
  height: 100%
}

body {
  font-family: $default-text-font;
  font-size: $default-text-size;
  color: $default-text-color;
  line-height: $default-line-height;
  min-width: $breakpoint-smartphone;
  height: 100%;
}

div,
ul > li {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: $header-text-font;
  font-weight: $header-text-weight;
  color: $header-text-color;
}

h1 {
  line-height: $header-line-height;
  font-size: $header-text-size;
}

.container {
  max-width: $breakpoint-large;
  margin: 0 auto;
  padding: 5px 10px;
  @include clearfix;

  > .col {
    position: relative;
    min-height: 1px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
  }

  @media (min-width: $breakpoint-smartphone) {
    max-width: $breakpoint-smartphone;

    > .col {
      width: 100%;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-tablet;

    > .col {
      width: 50%;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: $breakpoint-desktop;

    > .col {
      width: 25%;
    }
  }

  @media (min-width: $breakpoint-large) {
    max-width: $breakpoint-large;
  }
}

.global-logo {
  background: url($logo-url-png);
  // TODO: Add it as an inline svg [Mateusz]
  background: url($logo-url-svg), none;
  background-size: $logo-width $logo-height;
  height: $logo-height;
  width: $logo-width;
  text-indent: -9999px;
  display: block;
}

.global-content {
  margin-top: 0;
  padding: 15px 0 20px;

  h1:first-child {
    margin-top: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: 60px;
  }
}

.valign {
  @include vertical-align;
}

.text-center {
  text-align: center;
}