//
// Theme
// --------------------------------------------------
@import '_config';

html {
  height: 100%
}

body {
  font-family: $default-text-font;
  font-size: $default-text-size;
  height: 100%;
  min-width: $breakpoint-smartphone;
}

div {
  box-sizing: border-box;
}

.container {
  max-width: $breakpoint-large;
  margin: 0 auto;
  @include clearfix;

  > .col {
    position: relative;
    min-height: 1px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
  }

  @media (min-width: $breakpoint-smartphone) {
    max-width: $breakpoint-smartphone;

    > .col {
      width: 100%;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-tablet;

    > .col {
      width: 50%;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: $breakpoint-desktop;

    > .col {
      width: 25%;
    }
  }

  @media (min-width: $breakpoint-large) {
    max-width: $breakpoint-large;
  }
}

.global-logo {
  background: url($logo-url-png);
  // TODO: Add it as an inline svg [Mateusz]
  background: url($logo-url-svg), none;
  background-size: $logo-width $logo-height;
  height: $logo-height;
  width: $logo-width;
  text-indent: -9999px;
  display: block;
}