//
// Theme
// --------------------------------------------------
@import '_config';

html {
  height: 100%
}

body {
  font-family: $default-text-font;
  font-size: $default-text-size;
  color: $default-text-color;
  line-height: $default-line-height;
  min-width: $breakpoint-minimum;
  height: 100%;
}

div,
ul > li,
.field {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: $header-text-font;
  font-weight: $header-text-weight;
  color: $header-text-color;
}

h1 {
  line-height: $header-line-height;
  font-size: $header-text-size;
}