//
// Theme
// --------------------------------------------------
@import '_config';

html {
  height: 100%
}

body {
  font-family: $default-text-font;
  font-size: $default-text-size;
  color: $default-text-color;
  line-height: $default-line-height;
  min-width: $brand-website-minimal-width;
  height: 100%;
}

div,
ul > li,
.field {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: $default-heading-font;
  font-weight: $default-heading-weight;
  color: $default-heading-color;
}

h1 {
  line-height: $default-heading-line-height;
  font-size: $default-heading-size;
}

a {
  color: $brand-regular-link;
  text-decoration: none;
  cursor: pointer !important;

  &:focus,
  &:hover {
    color: $brand-regular-link-hover;
  }
}

.small-title {
  // shape
  margin-top: 20px;
  display: block;
  // font
  color: $brand-prior-text;
}