//
// Footer
// --------------------------------------------------
@import '../_config';

// required mixins
@import '../mixins/_basics';

// Config
// --------------------------------------------------
$text-font: $default-text-font;
$text-size: 12px;
$text-height: 16px;
$text-color: #e9e9e9;
$text-align: center;

$background-color: #111;
$min-height: 50px;

// Base
// --------------------------------------------------
.footer {
  background: $background-color;
  min-height: $min-height;
  padding: 17px 10px;
  // font
  font-family: $text-font;
  font-size: $text-size;
  line-height: $text-height;
  text-align: $text-align;
  color: $text-color;

  .icon-heart {
    position: relative;
    padding: 0 10px;

    &:before {
      position: absolute;
      left: 2.5px;
      top: 1px;
    }
  }
}

