//
// Footer
// --------------------------------------------------
@import '../_config';

// required mixins
@import '../mixins/_basics';

// Config
// --------------------------------------------------
$text-font: $default-text-font;
$text-size: 12px;
$text-height: 16px;
$text-color: #989898;

$background-color: #111;
$height: 50px;

// Base
// --------------------------------------------------
.footer {
  background: $background-color;
  height: $height;
  // font
  font-family: $text-font;
  font-size: $text-size;
  line-height: $text-height;
  color: $text-color;

  .container {
    padding: 17px 10px;
  }
}

