//
// Global Nav
// --------------------------------------------------
@import '../_config';

// required mixins
@import '../mixins/_basics';

// Config
// --------------------------------------------------
// Text, Links etc.
$text-font: 'Raleway', sans-serif;
$text-size: 14px;
$text-color: #404040;
$text-transform: uppercase;
$text-weight: normal;
$line-height: 24px;

// Link default
$link-default-transform: none;

// Link active
$link-active-transform: underline;

// Navbar
$bg-color: #fff;
$height: 60px;
$border-color: #e0e0e0;

// Breakpoints
$mobile-breakpoint: 720px;

// Bars
$bar-color: #404040;
$bar-width: 22px;
$bar-height: 2px;

// Base
// --------------------------------------------------

.global-nav {
  position: static;
  min-width: $breakpoint-smartphone;
  background: $bg-color;
  height: $height;
  width: 100%;
  @include box-shadow(1px 0 5px rgba(0,0,0,.25));

  .container {
    padding: 5px 10px;
  }

  .global-nav-header {
    @include clearfix;
  }

  .menu-toggle {
    position: relative;
    float: right;
    margin-right: 0;
    padding: 18px;
    background-color: transparent;
    // Reset unusual Firefox-on-Android default style; @see https://github.com/necolas/normalize.css/issues/214
    background-image: none;
    border: 1px solid transparent;

    &:focus {
      outline: 0;
    }

    // Bars
    .icon-bar {
      background: $bar-color;
      width: $bar-width;
      height: $bar-height;
      border-radius: 1px;
      display: block;
    }
    .icon-bar + .icon-bar {
      margin-top: 4px;
    }
  }

  .menu-collapse {
    display: none;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    @include clearfix;
    -webkit-overflow-scrolling: touch;

    &.menu-open {
      display: block;
    }
  }
}

.menu-nav {
  // font
  font-family: $text-font;
  font-size: $text-size;
  text-transform: $text-transform;
  text-align: center;
  // shape
  margin: 2px 0 0 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    background: $bg-color;
    border-top: 1px solid $border-color;
    width: 100%;

    > a,
    > .link {
      // font
      color: $text-color;
      text-decoration: $link-default-transform;
      line-height: $line-height;
      // shape
      position: relative;
      display: block;
      padding: 8px 12px;
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: $link-active-transform;
      }
    }
  }

  .has-dropdown {
    position: relative;

    > a,
    > .link {
      padding-right: 25px;

      &:after {
        position: absolute;
        margin: 15px;
        right: 0;
        top: 0;
        // font
        @include icon-font;
        content: "\e601";
        font-size: 10px;
      }
    }

    &.dropdown-open {
      .dropdown-menu {
        display: block;
      }

      // Remove the outline when :focus is triggered
      > a,
      > .link {
        outline: 0;

        &:after {
          // animation
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }

  // The dropdown menu (ul)
  .dropdown-menu {
    display: none;
    // position
    z-index: 5;
    padding: 0;
    // shape
    min-width: 160px;
    list-style: none;
    background-color: $bg-color;
    background-clip: padding-box;

    // Links within the dropdown menu
    > li {
      border-top: 1px solid $border-color;

      > a,
      > .link {
        // font
        font-family: $text-font;
        font-size: $text-size;
        color: $text-color;
        text-transform: $text-transform;
        text-decoration: $link-default-transform;
        line-height: $line-height;
        font-weight: $text-weight;
        white-space: nowrap; // prevent links from randomly breaking onto new lines
        // shape
        display: block;
        padding: 8px 12px;
        clear: both;

        &:hover,
        &:focus {
          text-decoration: $link-active-transform;
        }
      }

      &.active > a,
      &.active > .link {
        &,
        &:hover,
        &:focus {
          outline: 0;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {

  .global-nav {
    position: fixed;
    z-index: 1;
    top: 0;

    .global-nav-header {
      float: left;
    }

    .menu-toggle {
      display: none;
    }

    .menu-collapse {
      display: block;
      width: auto;
      border-top: 0;
      box-shadow: none;
      float: right;
      margin: 3px 0;
    }
  }

  .menu-nav {
    > li {
      // position
      position: relative;
      float: left;
      // shape
      padding: 0 2.5px;
      width: auto;
      border-top: none;

      &:last-child {
        padding-right: 0;
      }
    }

    .has-dropdown > a:after,
    .has-dropdown > .link:after, {
      margin: 14px 7px;
    }
  }

  .dropdown-menu {
    // position
    position: absolute;
    margin-top: 10px;
    top: 100%;
    left: 0;
    float: left;
    // shape
    @include box-shadow(0 3px 5px rgba(0,0,0,.2));
    // font
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)

    > li:first-child {
      border-top: 0;
    }
  }
}