//
// Global Content
// --------------------------------------------------
@import '../_config';

// Base
// --------------------------------------------------
.global-content {
  padding-bottom: 120px;
  padding-top: 20px;
  margin-top: 0;

  h1:first-child {
    margin-top: 0;
  }

  @media (min-width: $breakpoint-tablet) {
    margin-top: $global-nav-height;
  }
}
