//
// Contact Form
// --------------------------------------------------

@import '../_config';

// Config
// --------------------------------------------------
$text-size: 16px;
$text-align: left;
$line-height: 24px;

$link-color: #a4a4a4;
$link-decoration: none;

.contact-form {

}