//
// Contact Form
// --------------------------------------------------

@import '../_config';

// Config
// --------------------------------------------------
$text-size: 16px;
$text-align: left;
$line-height: 24px;

$info-size: 14px;
$info-color: #888;

.contact-page {
  padding-bottom: 80px !important;

  .info {
    max-width: 600px;
    font-size: $info-size;
    color: $info-color;
    line-height: $line-height;
  }
}