//
// Hackathon page
// --------------------------------------------------

@import '../_config';

// Config
// --------------------------------------------------
$text-font: 'Raleway', sans-serif;
$text-size: 18px;
$text-color: #fff;
$text-transform: uppercase;
$text-weight: normal;
$text-decoration: none;
$text-align: center;
$line-height: 24px;

$headline-size: 32px;
$headline-line-height: 40px;


.hackathon-splash {
  // shape
  @include background-size(cover);
  overflow: hidden;
  width: 100%;
  // font
  font-family: $text-font;
  font-size: 14px;
  line-height: $line-height;
  text-transform: $text-transform;
  color: $text-color;

  h1 {
    // font
    font-family: $text-font;
    font-size: 20px;
    color: $text-color;
    line-height: 24px;
    text-transform: $text-transform;
    // shape
    margin: 0;
  }

  .hackathon-splash-inner {
    // shape
    background: rgba(0, 0, 0, .5); // fade background
  }

  .container {
    // shape
    padding-top: 40px;
    padding-bottom: 40px;
    // font
    text-align: center;
  }
}

.hackathon-nav {
  // default hidden
  display: none;
  // shape
  background: #fff;
  height: 50px;
  width: 100%;
  @include box-shadow(1px 0 5px rgba(0,0,0,.25));

  .menu-nav {
    // font
    font-size: 12px;
    // shape
    margin: 0;

    .button {
      // font
      font-size: 12px;
      // shape
      padding: 3px 12px;
      margin-top: 3px;
    }
  }
}

.hackathon-section {
  line-height: $line-height;
}

.hackathon-location {

  .container {

    .col {
      width: 100%;
    }

    .map {
      max-width: 300px;
      height: 200px;
      background: #f0f0f0;
    }

    .location {
      line-height: $line-height;
      max-width: 380px;
      padding: 10px 0;

      .button {
        margin-top: 30px;
      }
    }
  }
}

.hackathon-schedule {

  .container {

    h1 + table {
      margin-top: 0;
    }
  }
}

.hackathon-mentors {
  color: #7b7b7b;
  line-height: 24px;

  .name {
    // shape
    display: block;
    margin: 15px 0;
    // font
    font-size: 20px;
    color: #414141;
  }

  .profesion {
    display: block;
    font-size: 16px;
  }

  .person-photo,
  .person-links {
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    padding-bottom: 20px;

    > .container {
      padding: 0;

      .col {
        width: 100%;
        max-width: 380px;
        padding: 0;

        &:first-child {
          max-width: 300px;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {

  .hackathon-mentors {
    .container > .container {
      .name,
      .profesion {
        text-align: center;
      }

      .col,
      .col:first-child {
        max-width: none;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .hackathon-splash {
    margin-top: $global-nav-height;
    font-size: $text-size;

    h1 {
      font-size: $headline-size;
      line-height: $headline-line-height;
    }

    .container {
      // shape
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  .hackathon-nav {
    display: block;
  }


  .hackathon-location {
    .container .location {
      padding-left: 20px;
    }
  }

  .hackathon-mentors {
    .container > .container {
      .name,
      .profesion {
        text-align: left;
      }

      .name {
        margin-top: 0;
      }

      .col {
        max-width: 400px;

        &:first-child {
          max-width: 280px;
          padding-right: 20px;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-large) {

  .hackathon-location {
    .container .location {
      max-width: 640px;
    }
  }

  .hackathon-mentors {
    .container > .container {
      .col {
        max-width: 660px;
      }
    }
  }
}