//
// Homepage
// --------------------------------------------------

@import '../_config';
// Mixins
@import '../mixins/_background-size';

// Config
// --------------------------------------------------
$text-font: 'Open Sans', sans-serif;
$text-size: 12px;
$text-height: 24px;
$text-color: #fff;

$headline-size: 24px;
$headline-height: 50px;
$headline-weight: normal;
$large-headline-size: 32px;

// TODO: refactor [Mateusz]
$section-padding-top: 120px;
$section-padding-bottom: 140px;

.splash {
  // shape
  @include background-size(cover);
  overflow: hidden;
  width: 100%;
  // font
  font-family: $text-font;
  font-size: $text-size;
  line-height: $text-height;
  color: $text-color;

  .inner-splash {
    // shape
    background: rgba(0,0,0,.5); // fade background
  }

  .container {
    // shape
    padding-top: 40px;
    padding-bottom: 40px;
    // font
    text-align: center;
  }

  // TODO: refactor [Mateusz]
  .button {
    margin: 10px 20px;
  }

  h1 {
    // shape
    margin-bottom: 30px;
    // font
    font-size: (( $headline-size / 1.2 ));
    line-height: (( $headline-height / 1.3 ));
    font-weight: $headline-weight;
    color: $text-color;

    // TODO: refactor [Mateusz]
    .headline {
      // shape
      display: block;
      margin-bottom: 5px;
      // font
      font-size: (( $large-headline-size / 1.2));
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .splash {
    margin-top: $height;

    .container {
      // shape
      padding-top: $section-padding-top;
      padding-bottom: $section-padding-bottom;
      // font
      text-align: center;
    }

    h1 {
      // shape
      margin-bottom: 120px;
      // font
      font-size: $headline-size;
      line-height: $headline-height;

      // TODO: refactor [Mateusz]
      .headline {
        // shape
        display: block;
        // font
        font-size: $large-headline-size;
      }
    }
  }
}