//
// Imprint
// --------------------------------------------------
@import '../_config';

// Config
// --------------------------------------------------
$title-text-color: $default-text-color;
$text-color: #888;
$text-size: 14px;

.imprint-page {
  font-size: $text-size;
  color: $text-color;
  padding-bottom: 120px !important;

  .title {
    display: block;
    margin-top: 20px;
    // font
    color: $title-text-color;
  }
}