//
// Member List
// --------------------------------------------------

@import '../_config';

// Config
// --------------------------------------------------
$text-size: 16px;
$text-align: left;
$line-height: 24px;

.team-page {

  .first-name,
  .last-name {
    display: block;
    font-size: $text-size;
    text-align: $text-align;
    line-height: $line-height;
  }
}