//
// Partner list
// --------------------------------------------------
@import '../_config';

// Config
// --------------------------------------------------
$border-color: $brand-border-color;

// Base
// --------------------------------------------------
.partner-list {
  // shape
  margin: 10px -10px 20px;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;

    > a {
      display: block;
      border: 1px solid $border-color;
      height: 130px;
      width: 100%;
      max-width: 225px;
      overflow: hidden;
      padding: 0 5px;
      margin: 5px auto;

      &:focus,
      &:hover {
        border-color: $brand-blue;
      }

      > img {
        max-width: 100%;
        height: auto;
        @include vertical-align;
      }
    }

    @media (min-width: $breakpoint-smartphone) {
      width: 50%;
    }

    @media (min-width: $breakpoint-tablet) {
      width: 33%;
    }

    @media (min-width: $breakpoint-desktop) {
      width: 20%;
    }
  }
}