//
// Hackathon helpers
// --------------------------------------------------
@import '../_config';

// Config
// --------------------------------------------------
$text-font: $brand-special-font;
$text-color: $brand-bright-text;
$text-transform: uppercase;
$text-weight: normal;
$text-decoration: none;
$text-align: center;
$line-height: 30px;

$heading-text-size: 20px;

// Base
// --------------------------------------------------
.tile-hackathon {
  @include background-size(cover);
  position: relative;
  height: 180px;

  a {
    // shape
    position: absolute;
    background: rgba(0,0,0,.5); // fade background
    height: 100%;
    width: 100%;
    // vertical align
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    // font
    font-family: $text-font;
    color: $text-color;
    text-transform: $text-transform;
    text-decoration: $text-decoration;
    line-height: $line-height;
    text-align: $text-align;

    &:focus,
    &:hover {
      background: rgba(0, 0, 0, .4); // fade background
      color: $text-color; // override default hover color
    }

    &.special-blue-opacity {
      background: $brand-blue;

      &:focus,
      &:hover {
        background: darken($brand-blue, 10%);
      }
    }

    &.special-red-opacity {
      background: $brand-red;

      &:focus,
      &:hover {
        background: darken($brand-red, 10%);
      }
    }

    .valign {
      display: block;
      padding: 10px;
    }

    .hackathon-city {
      font-size: $heading-text-size;
      display: block;
    }
  }
}
